<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log In </title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body >

    <div id="main_page">
      <div>
        <div class="container" id="hi" >
        <h1>
          Hi!
        </h1>
        <hr>
        <b>Enjoy the Website!!! 😊</b></p>
      </div>
      </div>

     <div class="container" id="login" >

    <h2 >Log In<br><hr style= "height: 5px;"></h2>
    <form   action="/login" method="post"  >
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1"  >Email address</label>
          <input type="email" id="form2Example1" name="givenEmail" class="form-control" required />
        </div>
      
        
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example2" Sign in>Password</label>
          <input type="password" id="form2Example2" required name="givenPassword" class="form-control" />
        </div>
        
     <input type="submit" class="btn btn-dark btn-block mb-4" value="log in"></input>
    </form>
  </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>