#main{
    text-align: left;
}
@media only screen and (max-width: 600px)  {
    #main_page{
        height: 100vh;
        /* background-image: url(/static/bear\ wallpaper\ pc\ Mac\ 네이버\ 아이콘\ 곰.png); */
        background-attachment: fixed;
        background-size: cover;
        
    }
    #login{
        padding: 10px;
    }
    #hi{
        padding: 10px;
        margin-bottom: 50px;
    }
}
@media only screen and (min-width: 600px)  {
    #main_page{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* background-image: url(/static/bear\ wallpaper\ pc\ Mac\ 네이버\ 아이콘\ 곰.png); */
        background-attachment: fixed;
        background-size: cover;
        
    }
   #login
   {
     height: 50vh; 
     width: 40vw; 
     margin: auto; 
     margin-top:20%;
   }
   #hi{
    height: 50vh;
     width: 40vw;
      margin: auto;
       margin-top:20%;
   }
   #task{
    width: 100vw;
    margin: auto;
    padding: 10px;
}

}
#body{
 /* background-image: url(/static/Image\ about\ cute\ in\ 💖\ by\ Private\ User\ on\ We\ Heart\ It.jpg); */
 background-repeat: no-repeat;
 background-size: cover;
 
}
#task{
    
    width: 50vw;
    margin: auto;
    padding: 10px;
}
@media only screen and (max-width: 600px) {
    #task{
    
        width: 90vw;
        margin: auto;
        padding: 10px;
    } 
}